---
import '../styles/common/reset.css';
import '../styles/common/common.css';
import '../styles/header.css';
import '../styles/footer.css';
import '../styles/customer.css';

import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';


const pageTitle = "初めてのお客様｜chumuru";
---

<!DOCTYPE html>
<html lang="ja">

<head>
	<Head />
	<title>{pageTitle}</title>
</head>

<body class="wrap">
	<Header />
    <main class="content">
        <section class="pageHeader">
            <div class="pageHeaderBg">
                <img width="2720" height="700" src="https://chumuru.com/system_panel/uploads/images/20240513181320987323.png" alt="初めてのお客様" class="pageHeaderImg" />
            </div>
            <div class="pageHeaderGroup">
                <h1 class="pageHeaderTxt">初めてのお客様
                </h1>
                <p class="pageHeaderDes">First time customer
                </p>
            </div>
        </section>
        <section class="section">
            <div class="sectionBg">
                <div class="sectionBgImg">
                    <img width="1440" height="918" src="https://chumuru.com/system_panel/uploads/images/20240513181320436014.png" alt="背景用の画像" class="sectionBgImg" />
                </div>
                <div class="sectionInr">
                    <div class="overlayHead">
                        <div class="overlayHeadGroup">
                            <h2 class="overlayHeadJa">身体と心の不調の
                                <br class="pcHidden" />悩みはありませんか？
                            </h2>
                            <p class="overlayHeadDesc">Worries
                            </p>
                        </div>
                        <p class="overlayHeadEn">WORRIES
                        </p>
                    </div>
                    <div class="tile">
                        <div class="tileItem">
                            <p class="tileItemTtl">疲れやすい
                            </p>
                            <img src="https://chumuru.com/system_panel/uploads/images/20240513181320163862.png" alt="疲れやすい人のイメージ画像" width="340" height="240" class="img" />
                        </div>
                        <div class="tileItem">
                            <p class="tileItemTtl">便秘・下痢
                            </p>
                            <img src="https://chumuru.com/system_panel/uploads/images/20240513181320731407.png" alt="便秘・下痢をしている人のイメージ画像" width="340" height="240" class="img" />
                        </div>
                        <div class="tileItem">
                            <p class="tileItemTtl">眠りが浅い
                            </p>
                            <img src="https://chumuru.com/system_panel/uploads/images/20240513181320633156.png" alt="眠りが浅い人のイメージ画像" width="340" height="240" class="img" />
                        </div>
                        <div class="tileItem">
                            <p class="tileItemTtl">下腹がぽっこり
                            </p>
                            <img src="https://chumuru.com/system_panel/uploads/images/20240513181320548520.png" alt="下腹がぽっこりしている人のイメージ画像" width="340" height="240" class="img" />
                        </div>
                        <div class="tileItem">
                            <p class="tileItemTtl">胃腸が弱い
                            </p>
                            <img src="https://chumuru.com/system_panel/uploads/images/20240513181320124867.png" alt="胃腸が弱い人のイメージ画像" width="340" height="240" class="img" />
                        </div>
                        <div class="tileItem">
                            <p class="tileItemTtl">心の不調
                            </p>
                            <img src="https://chumuru.com/system_panel/uploads/images/20240513181320300468.png" alt="心の不調がある人のイメージ画像" width="340" height="240" class="img" />
                        </div>
                    </div>
                </div>
                <div class="triangle">
                </div>
            </div>
            <div class="sectionInr decoration">
                <div class="cooperation">
                    <p class="txt">このようなお悩みは
                        <br />chumuruにお任せください！
                    </p>
                </div>
                <img width="312" height="200" src="https://chumuru.com/system_panel/uploads/images/20240509133217619670.png" alt="装飾用の画像" class="decorationImg" />
            </div>
            <div class="rowTypeCustomer">
                <div class="flex">
                    <div class="txtBox">
                        <p class="numberCount">First time customer
                        </p>
                        <h3 class="numberTtl">
                            カウンセリングで<br class="pcHidden">悩みの原因を特定
                        </h3>
                        <p class="txt">
                            カウンセリングでは、お客様の話を丁寧に聞き、その悩みの根本的な原因を探ります。
                            <br />
                            カウンセリングを通じて、お客様の自己理解を深め、困難な感情や状況に対処するための具体的な解決策や方法を見つけることができます。
                            <br />
                            <br />
                            食事療法や腸もみなどを通じて、様々な問題を解決するお手伝いをさせていただきます。
                        </p>
                    </div>
                    <div class="imgBox">
                        <img src="https://chumuru.com/system_panel/uploads/images/20240513181320358498.png" alt="カウンセリングを受ける女性の画像" width="600" height="356" class="img" />
                    </div>
                </div>
                <div class="flex">
                    <div class="txtBox">
                        <p class="numberCount">First time customer
                        </p>
                        <h3 class="numberTtl">
                            ヤング式腸もみと
                            <br />
                            食事療法でお悩みを改善
                        </h3>
                        <p class="txt">
                            ヤング式腸もみと食事療法は、様々な健康問題に対する自然療法として注目されています。
                            <br />
                            腸もみは腸の動きを促し、消化を助ける一方で、適切な食事療法は必要な栄養を体に供給し、内臓機能や血液の流れを正常化します。
                            <br />
                            <br />
                            この二つを組み合わせることで、便秘や腹痛、むくみといった消化器系の不調はもちろん、全体的な健康状態の向上にも寄与する可能性があります。
                        </p>
                    </div>
                    <div class="imgBox">
                        <img src="https://chumuru.com/system_panel/uploads/images/20240513181320645911.png" alt="ヤング式腸もみと食事療法を受ける女性の画像" width="600" height="356" class="img" />
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="overlayHead">
                <div class="overlayHeadGroup">
                    <h2 class="overlayHeadJa">ご利用の流れ
                    </h2>
                    <p class="overlayHeadDesc">Usage flow
                    </p>
                </div>
                <p class="overlayHeadEn">USAGE FLOW
                </p>
            </div>
            <div class="leftTtlSection">
                <div class="sectionInr rowTypeFlow">
                    <div class="flowBox">
                        <div class="flowBoxNum">
                        </div>
                        <div class="flowBoxHead">
                            <h3 class="flowBoxTtl">ご予約
                            </h3>
                        </div>
                        <div class="flowBoxBody">
                            <p class="txt">ご予約は、LINEまたはWEB予約にてお願いいたします。
                                <br />
                                お問い合わせは下記お問い合わせフォームからご連絡ください。
                            </p>
                            <div class="normalBtnArea">
                                <a href="https://line.me/R/ti/p/@545mglcj" target="_blank" rel="noopener" class="normalBtn lineBtn"><img src="https://chumuru.com/system_panel/uploads/images/20240509133217101594.png" alt="LINEアイコン画像" width="26" height="26" class="img" />
                                    <p class="normalBtnTxt">LINEで予約
                                    </p>
                                </a>
                                <a href="/contact" class="normalBtn contactBtn"><img src="https://chumuru.com/system_panel/uploads/images/20240509153821656928.png" alt="メールアイコン画像" width="24" height="24" class="img" />
                                    <p class="normalBtnTxt">お問い合わせフォーム
                                    </p>
                                </a>
                                <a href="https://chumuru.pos-s.net/reserve/" target="_blank" rel="noopener" class="normalBtn reserveBtn">
                                    <p class="normalBtnTxt">WEB予約
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="flowBoxFoot">
                            <img width="340" height="227" src="https://chumuru.com/system_panel/uploads/images/20240513181320825180.png" alt="予約を入れる際のイメージ画像" class="img" />
                        </div>
                    </div>
                    <div class="flowBox">
                        <div class="flowBoxNum">
                        </div>
                        <div class="flowBoxHead">
                            <h3 class="flowBoxTtl">カウンセリング
                            </h3>
                        </div>
                        <div class="flowBoxBody">
                            <p class="txt">まず、お身体の現在の悩みやそれが生じる原因を詳しくお聞きします。
                                <br />
                                深くお話を伺いつつ、それを理解することで最適な対応を見つけ出します。
                                <br />
                                そして、お伺いした情報とあなたのご要望に基づき、本日の適切なコース内容をお客様に提案させていただきます。
                            </p>
                        </div>
                        <div class="flowBoxFoot">
                            <img width="340" height="227" src="https://chumuru.com/system_panel/uploads/images/20240513181320964326.png" alt="カウンセリングを受けている男性の画像" class="img" />
                        </div>
                    </div>
                    <div class="flowBox">
                        <div class="flowBoxNum">
                        </div>
                        <div class="flowBoxHead">
                            <h3 class="flowBoxTtl">コーススタート
                            </h3>
                        </div>
                        <div class="flowBoxBody">
                            <p class="txt">初めに、お客様の姿勢や動きを詳しく確認し、身体の現状を正確に理解します。
                                <br />
                                その上で、ヤング式腸もみを行います。
                                <br />
                                さらに、継続的に食のケアを行っていただくための方法やアドバイスも提供します。
                                <br />
                                お伝えするケア方法は、お客様の日常に無理なく取り入れられるよう設計されていますので、ぜひ継続してお試しいただければと思います。
                            </p>
                        </div>
                        <div class="flowBoxFoot">
                            <img width="340" height="227" src="https://chumuru.com/system_panel/uploads/images/20240513181320720880.png" alt="ヤング式腸もみの施術を受けている画像" class="img" />
                        </div>
                    </div>
                    <div class="flowBox">
                        <div class="flowBoxNum">
                        </div>
                        <div class="flowBoxHead">
                            <h3 class="flowBoxTtl">フィードバック・サポート
                            </h3>
                        </div>
                        <div class="flowBoxBody">
                            <p class="txt">様々な症状や不調の背後にある問題点を明らかにし、その解決への食事療法やヤング式腸もみのアプローチを共に計画するステップです。
                                <br />
                                目指すは、より健康で活力ある身体。
                                <br />
                                お客様一人ひとりのニーズに合わせた最適なケアプランを共に策定し、フレッシュなお身体を目指しましょう。
                                <br />
                                施術後のフォローも行っており、万全のサポート体制を整えています。お客様が元気になれるよう、全力でサポートに取り組んでいます。
                            </p>
                        </div>
                        <div class="flowBoxFoot">
                            <img width="340" height="227" src="https://chumuru.com/system_panel/uploads/images/20240513181320183228.png" alt="フィードバックをするイメージ画像" class="img" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
	<Footer />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>