---
import '../styles/common/reset.css';
import '../styles/common/common.css';
import '../styles/header.css';
import '../styles/footer.css';
import '../styles/diet.css';

import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';


const pageTitle = "食事療法｜chumuru";
---

<!DOCTYPE html>
<html lang="ja">

<head>
	<Head />
	<title>{pageTitle}</title>
</head>

<body class="wrap">
	<Header />
    <main class="content">
        <section class="pageHeader">
            <div class="pageHeaderBg">
                <img width="2720" height="700" src="https://chumuru.com/system_panel/uploads/images/20240513181249899268.png" alt="ヤング式の食事療法" class="pageHeaderImg" />
            </div>
            <div class="pageHeaderGroup">
                <h1 class="pageHeaderTxt">ヤング式の食事療法
                </h1>
                <p class="pageHeaderDes">Young Diet
                </p>
            </div>
        </section>
        <section class="section">
            <div class="sectionInr">
                <div class="conceptRow">
                    <div class="txtBox">
                        <div class="verticalBox">
                            <div class="txtBoxTtl">
                                <p class="txtBoxTtlEn">chumuru
                                </p>
                                <p class="txtBoxTtlJa">のヤング式食事療法
                                </p>
                            </div>
                            <p class="txt">生涯、健康でいる為に適した食事は「生穀菜食」であると長年病人と向き合ってきた中でわかりました。体にとって必要な栄養は生野菜と生の穀物から摂れます。
                            </p>
                            <p class="txt">現代食は口に美味しい料理であふれていますが、それらを食べ続けていると不調や病気と縁が付きやすくなります。
                            </p>
                            <p class="txt">ヤング式自然療法で勧める生穀菜食は、体に必要な栄養を摂りながら小腸の解毒を促します。続けることで活力あふれる生涯を全うできることでしょう。
                            </p>
                        </div>
                    </div>
                    <div class="imgBox manyImgBox">
                        <img src="https://chumuru.com/system_panel/uploads/images/20240513181249526895.png" alt="ヤング式食事療法 お料理のイメージ画像" width="341" height="330" class="img" />
                        <img src="https://chumuru.com/system_panel/uploads/images/20240513181249824439.png" alt="素材野菜のイメージ画像" width="184" height="172" class="img" />
                        <img src="https://chumuru.com/system_panel/uploads/images/20240513181249789959.png" alt="ヤング式食事療法 生穀物粉なまこっこ画像" width="231" height="281" class="img" />
                        <div class="manyImgBoxBack">
                        </div>
                    </div>
                </div>
            </div>
            <img src="https://chumuru.com/system_panel/uploads/images/20240509133217619670.png" alt="装飾用の画像" width="340" height="218" class="decorationImg" />
        </section>
        <section class="section">
            <div class="overlayHead">
                <div class="overlayHeadGroup">
                    <h2 class="overlayHeadJa">chumuruの食事療法の取り組み
                    </h2>
                    <p class="overlayHeadDesc">Diet remedy
                    </p>
                </div>
                <p class="overlayHeadEn">DIET REMEDY
                </p>
            </div>
            <div class="leftTtlSection">
                <div class="sectionInr rowTypeMeal">
                    <div class="flex">
                        <div class="txtBox">
                            <p class="numberCount">Diet remedy
                            </p>
                            <h3 class="numberTtl">朝起きたら水を飲むを習慣化
                            </h3>
                            <p class="txt">
                                朝起きたら水を飲む習慣は、健康維持に非常に効果的です。一晩寝ている間に体は脱水状態になりがちで、この習慣により体内の水分バランスが速やかに回復します。
                                <br />
                                水分を補給することで代謝が促進され、体内の老廃物の排出がスムーズになり、エネルギーレベルも向上します。
                                また、朝の一杯の水は消化機能を活発にし、一日の食事の消化吸収を助ける役割も果たします。
                            </p>
                        </div>
                        <div class="imgBox">
                            <img src="https://chumuru.com/system_panel/uploads/images/20240513181249995577.png" alt="朝起きて水を飲む女性の画像" width="600" height="356" class="img" />
                        </div>
                    </div>
                    <div class="flex">
                        <div class="txtBox">
                            <p class="numberCount">Diet remedy
                            </p>
                            <h3 class="numberTtl">
                                1日に生穀物を<br class="pcHidden">70~120g程度食べる
                            </h3>
                            <p class="txt">
                                1日に生穀物を70〜120g程度食べることは、栄養バランスの良い食生活を送るための一つの方法です。
                                <br />
                                生穀物には食物繊維、ビタミン、ミネラルが豊富に含まれており、これらは健康な消化系を促進し、長期的な健康を支える役割を果たします。
                                <br />
                                また、穀物はエネルギー源としても優れており、体の基礎代謝を高め、持続的な活力を提供します。
                                <br />
                                適量の穀物を食事に取り入れることで、食後の血糖値の急激な上昇を抑え、体重管理にも効果的です。
                            </p>
                        </div>
                        <div class="imgBox overlapImgBox">
                            <img src="https://chumuru.com/system_panel/uploads/images/20240513181249181331.png" alt="生穀物のイメージ画像" width="264" height="185" class="img smallImg" />
                            <img src="https://chumuru.com/system_panel/uploads/images/20240513181249536992.png" alt="生穀物粉なまこっこ パッケージの画像" width="600" height="356" class="img largeImg" />
                        </div>
                    </div>
                    <div class="flex">
                        <div class="txtBox">
                            <p class="numberCount">Diet remedy
                            </p>
                            <h3 class="numberTtl">
                                1日に3色以上の<br class="pcHidden">生の野菜を食べる
                            </h3>
                            <p class="txt">
                                1日に3色以上の生の野菜を食べることは、栄養の多様性を確保し、全体的な健康を向上させる効果的な方法です。
                                <br />
                                異なる色の野菜はそれぞれ独自の栄養素や抗酸化物質を含んでおり、体のさまざまな機能をサポートします。
                                例えば、緑の野菜はビタミンKと葉酸を、赤やオレンジの野菜はビタミンCとカロテノイドを、紫の野菜はアントシアニンを豊富に含んでいます。
                                <br />
                                毎日多色の野菜を取り入れることで、食事の楽しさと健康への良い影響を得られます。
                            </p>
                        </div>
                        <div class="imgBox">
                            <img src="https://chumuru.com/system_panel/uploads/images/20240513181249921123.png" alt="生野菜のイメージ画像" width="600" height="356" class="img" />
                        </div>
                    </div>
                    <div class="flex">
                        <div class="txtBox">
                            <p class="numberCount">Diet remedy
                            </p>
                            <h3 class="numberTtl">
                                動物性・加工食品や揚げ物、
                                <br />
                                甘いものを控える
                            </h3>
                            <p class="txt">
                                これらの食品群は、過剰な脂肪、糖分、添加物が含まれているため、体重増加、炎症、慢性病のリスクを高めることがあります。
                                <br />
                                特に、心血管疾患や糖尿病、肥満といった健康問題を予防するためには、これらの食品の摂取を減らし、果物、野菜、全粒穀物、豆類などの天然で栄養価の高い食品に焦点を当てた食生活を心掛けることが推奨されます。
                                <br />
                                健康的な食事の選択は、長期的な健康と幸福に大きく寄与します。
                            </p>
                        </div>
                        <div class="imgBox">
                            <img src="https://chumuru.com/system_panel/uploads/images/20240513181249413101.png" alt="不健康のリスクを高める食品のイメージ画像" width="600" height="356" class="img" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="overlayHead">
                <div class="overlayHeadGroup">
                    <h2 class="overlayHeadJa">chumuruのなまこっこ
                    </h2>
                    <p class="overlayHeadDesc">Namakokko
                    </p>
                </div>
                <p class="overlayHeadEn">NAMAKOKKO
                </p>
            </div>
            <div class="sectionInr recommendSection">
                <div class="flex">
                    <div class="txtBox">
                        <p class="txt">「なまこっこ」は、日常的に生穀物を摂取するための便利なアイテムです。
                            <br />
                            なまこっこは、さまざまな種類の生穀物を簡単に食べられる形に加工したもので、忙しい朝にも手軽に栄養を補給できます。
                            <br />
                            生穀物は天然のビタミン、ミネラル、食物繊維を豊富に含んでおり、これらが健康な消化を促進し、エネルギーレベルを維持します。
                        </p>
                        <p class="txt">なまこっこを使えば、毎日の食事にバランスよく穀物を取り入れることができ、体調管理や健康にも役立つでしょう。
                        </p>
                    </div>
                    <div class="imgBox boxShadow">
                        <img width="461" height="322" src="https://chumuru.com/system_panel/uploads/images/20240513181249181331.png" alt="販売している生穀物粉 なまこっこのパッケージ画像" class="img" />
                    </div>
                </div>
                <h3 class="bottomLineTtl">chumuruのなまこっこの<br class="pcHidden">おすすめの食べ方
                </h3>
                <div class="hint">
                    <p class="p1716296142457">★加熱せず生の状態で、一日に大さじ山盛り3~8杯程度お召し上がりください
                    </p>
                </div>
                <div class="recommendBox">
                    <div class="recommendHead">
                        <h4 class="recommendHeadTtl">野菜スムージーにミックス。老若男女が食べやすい栄養豊富な一品！
                        </h4>
                    </div>
                    <div class="recommendBody">
                        <div class="txtBox">
                            <div>
                                <h5 class="h5Ttl">野菜スムージーの材料
                                </h5>
                                <p class="txt">（お子様向け）緑の野菜…50g、熟れたバナナ…中1本（約90g）、水…150g、生穀物粉30g
                                </p>
                                <p class="txt">（甘さ控えめ）緑の野菜…100g、熟れたバナナ…中1本（約90g）、水…200g、生穀物粉50g
                                </p>
                            </div>
                            <div>
                                <h5 class="h5Ttl">作り方
                                </h5>
                                <p class="txt list">・野菜とバナナと水をミキサーで滑らかになるまで撹拌する。
                                    <br />
                                    生穀物粉を足してミキサーにかけるか器に移してから混ぜて食べます。
                                </p>
                                <p class="txt list">・グリーン野菜はケール・小松菜・ほうれん草・セロリ・パセリ・春菊など旬の野菜をお楽しみ下さい。
                                </p>
                                <p class="txt list">・野菜の種類や量はお好みで変更して下さい。
                                </p>
                                <p class="txt list">・作り立てが一番良いですが1日程度なら冷蔵保管して食べられます。
                                    <br />
                                    （2食分作って、半分はタッパーに入れて冷蔵庫で保管するなど）
                                </p>
                                <p class="txt list">・咀嚼して唾液と混ぜながら食べて下さい。
                                </p>
                            </div>
                        </div>
                        <div class="imgBox">
                            <img width="160" height="155" src="https://chumuru.com/system_panel/uploads/images/20240513181249306316.png" alt="野菜スムージーになまこっこを加えたレシピのイメージ画像" class="recommendImgSmoothie" />
                        </div>
                    </div>
                </div>
                <div class="recommendBox">
                    <div class="recommendHead">
                        <h4 class="recommendHeadTtl">野菜にかけたり、大根おろしやとろろ、豆腐に混ぜる
                        </h4>
                    </div>
                    <div class="recommendBody">
                        <div class="txtBox">
                            <p class="txt">ドレッシングを和えたサラダに生穀物粉を適量混ぜるとシーザーサラダのような食感です。
                                <br />
                                または、塩揉み野菜に和えたり、大根おろしや長芋をすりおろして生穀物粉を混ぜて、醤油を少し垂らして食べるのもおすすめです。
                                <br />
                                絹豆腐と混ぜてごま塩をかけて食べるのも食べやすいと好評です。
                                <br />
                                一口30回噛みましょう。
                            </p>
                        </div>
                        <div class="imgBox">
                            <img width="307" height="104" src="https://chumuru.com/system_panel/uploads/images/20240513181249425234.png" alt="ドレッシングを和えたサラダに生穀物粉を混ぜた食事のイメージ画像" class="recommendImgSalad" />
                        </div>
                    </div>
                </div>
                <div class="recommendBox">
                    <div class="recommendHead">
                        <h4 class="recommendHeadTtl">ドリンクにして
                        </h4>
                    </div>
                    <div class="recommendBody">
                        <div class="txtBox">
                            <p class="txt">生穀物粉煮対して3~5倍の水を混ぜてドリンクとして飲むこともできます。
                                <br />
                                野菜が不足している方は青汁の粉末も加えると良いです。
                                <br />
                                お塩やハーブ塩を少量混ぜて飲むのもおすすめです。甘いものを欲する時は、米甘酒や酵素ドリンクを少量入れてほんのり甘くしてゆっくり飲んでください。
                                <br />
                                さらっと飲みやすいのですが、できるだけ噛むようにして唾液と混ぜながら飲んでください。
                            </p>
                        </div>
                        <div class="imgBox">
                            <img width="95" height="122" src="https://chumuru.com/system_panel/uploads/images/20240513181249835810.png" alt="生穀物粉煮対して3~5倍の水を混ぜたドリンクのイメージ画像" class="recommendImgDrink" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
	<Footer />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>