---
import '../styles/common/reset.css';
import '../styles/common/common.css';
import '../styles/header.css';
import '../styles/footer.css';
import '../styles/top.css';

import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';


const pageTitle = "トップページ｜chumuru";
---

<!DOCTYPE html>
<html lang="ja">

<head>
	<Head />
	<title>{pageTitle}</title>
</head>

<body class="wrap">
	<Header />
    <main class="content">
        <div class="firstView">
            <div class="firstViewImg">
                <div class="firstViewImgTtl">
                    <h1 class="firstViewImgTtlTxt">ヤング式腸もみで
                        <br />あなたの内側をリフレッシュ
                    </h1>
                </div>
                <img src="https://chumuru.com/system_panel/uploads/images/20240509135248476945.png"
                    alt="ヤング式腸もみであなたの内側をリフレッシュ" width="1075" height="571" class="img" />
            </div>
            <div class="firstViewHead">
                <p class="firstViewDesc">Young style intestine massage refresh your insides
                </p>
                <p class="firstViewTtl">YOUNG STYLE
                </p>
            </div>
            <img src="https://chumuru.com/system_panel/uploads/images/20240509133217619670.png" alt="装飾用の画像" width="312"
                height="200" class="decorationImg" />
        </div>
        <section class="section">
            <div class="overlayHead">
                <h2 class="overlayHeadEn">CONCEPT
                </h2>
            </div>
            <div class="sectionInr illustDecoration">
                <div class="conceptRow">
                    <div class="txtBox">
                        <div class="verticalBox">
                            <div class="txtBoxHead">
                                <div class="txtBoxTtl">
                                    <p class="txtBoxTtlEn">chumuru
                                    </p>
                                    <p class="txtBoxTtlJa">の
                                    </p>
                                </div>
                                <div class="txtBoxTtl">
                                    <p class="txtBoxTtlJa">ヤング式腸もみ
                                    </p>
                                </div>
                            </div>
                            <p class="txt">chumuruは、石川県金沢市にてヤング式腸もみとヤング式食事療法を活用して、体内から健康を改善します。
                            </p>
                            <p class="txt">自分の健康は、自分でコントロールする力を見に付け、気になりにくい身体習慣を作っていきましょう。
                            </p>
                        </div>
                    </div>
                    <div class="imgBox overlapImgBox">
                        <div class="backImg">
                            <img src="https://chumuru.com/system_panel/uploads/images/20240509135248241288.png"
                                alt="ヤング式腸もみ 施術台イメージ画像" width="498" height="323" class="largeImg img" />
                        </div>
                        <img src="https://chumuru.com/system_panel/uploads/images/20240509135248902422.png"
                            alt="ヤング式腸もみ 施術イメージ画像" width="252" height="169" class="smallImg img" />
                    </div>
                </div>
                <div class="conceptRow">
                    <div class="imgBox">
                        <img src="https://chumuru.com/system_panel/uploads/images/20240509135248947812.png"
                            alt="ヤング式腸もみ 施術イメージ画像" width="514" height="326" class="largeImg img" />
                    </div>
                    <div class="txtBox">
                        <div class="verticalBox">
                            <p class="txt">
                                chumuruのヤング式腸もみは、血液がきれいになる効果があり、体内の循環が改善されることで、全身の細胞へ酸素や栄養が効率良く運ばれます。さらに、自己免疫力が高まることで、体が様々な病気や感染から自らきを守る能力が向上します。
                            </p>
                            <p class="txt">ヤング式腸もみでは、日々の小 さな不調を自分で治す力を育て、より健康的な生活を送ることができます。
                            </p>
                        </div>
                        <a href="./massage" class="normalBtn leftSide">
                            <p class="normalBtnTxt">ヤング式腸もみ
                            </p>
                        </a>
                    </div>
                </div>
                <img src="https://chumuru.com/system_panel/uploads/images/20240509133217218752.png" alt="装飾用の画像"
                    width="150" height="143" class="handIllust" />
                <img src="https://chumuru.com/system_panel/uploads/images/20240509133217570862.png" alt="装飾用の画像"
                    width="183" height="192" class="intestineIllust" />
            </div>
        </section>
        <section class="section leftTtlSection">
            <div class="sectionInr">
                <div class="sectionHead">
                    <h2 class="sectionTtl">ヤング式の食事療法
                    </h2>
                    <p class="sectionTtlDesc">Young Diet
                    </p>
                </div>
                <div class="flex flexReverse">
                    <div class="imgBox manyImgBox">
                        <img src="https://chumuru.com/system_panel/uploads/images/20240509133200271546.png"
                            alt="ヤング式食事療法 お料理のイメージ画像" width="341" height="330" class="img" />
                        <img src="https://chumuru.com/system_panel/uploads/images/20240509133217363479.png"
                            alt="素材野菜のイメージ画像" width="184" height="172" class="img" />
                        <img src="https://chumuru.com/system_panel/uploads/images/20240509133200492764.png"
                            alt="ヤング式食事療法 生穀物粉なまこっこ画像" width="231" height="281" class="img" />
                        <div class="manyImgBoxBack">
                        </div>
                    </div>
                    <div class="txtBox">
                        <p class="txt">長年病人と向き合い、生涯を健康に過ごすための食事法を研究してきた結果、生穀菜食が最も適していることが明らかになりました。
                            <br />
                            chumuruのヤング式食事療法は、生の野菜と穀物から直接必要な栄養を摂取することに焦点を当てています。
                            <br />
                            生の食材は栄養が豊富で、体の自然な解毒作用を促進し、病気のリスクを低減します。
                        </p>
                        <p class="txt">現代の食生活は加工食品や高カロリーな料理で溢れており、これらを常食することは多くの健康問題を引き起こす原因となります。
                        </p>
                        <p class="txt">そのため、chumuruのヤング式食事療法では、生穀菜食を推奨しています。
                            <br />
                            この食事療法により、小腸の解毒が促され、健康な体を維持することが可能です。
                        </p>
                        <a href="./diet" class="normalBtn leftSide">
                            <p class="normalBtnTxt">ヤング式食事療法
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="overlayHead">
                <div class="overlayHeadBack">
                    <p class="overlayHeadEn">FOODS
                    </p>
                </div>
            </div>
            <div class="tile">
                <div class="tileItem">
                    <img src="https://chumuru.com/system_panel/uploads/images/20240509133200513788.png"
                        alt="ヤング式食事療法メニュー画像その1" width="340" height="240" class="img" />
                </div>
                <div class="tileItem">
                    <img src="https://chumuru.com/system_panel/uploads/images/20240509133217421233.png"
                        alt="ヤング式食事療法メニュー画像その2" width="340" height="240" class="img" />
                </div>
                <div class="tileItem">
                    <img src="https://chumuru.com/system_panel/uploads/images/20240509133217495098.png"
                        alt="ヤング式食事療法メニュー画像その3" width="340" height="240" class="img" />
                </div>
            </div>
        </section>
        <section class="linkSection sectionBg">
            <div class="sectionBgImg">
                <img src="https://chumuru.com/system_panel/uploads/images/20240509133410266744.png" alt="背景用の画像"
                    width="2880" height="738" class="img" />
            </div>
            <div class="sectionInr flex">
                <div class="linkBox">
                    <a href="./customer" class="imgLink"><img
                            src="https://chumuru.com/system_panel/uploads/images/20240509133410840862.png"
                            alt="初めてのお客様 背景用の画像" width="1060" height="400" class="backImg" />
                        <div class="front">
                            <p class="frontTxt">初めてのお客様
                            </p>
                            <p class="frontTxtDesc">First time customer
                            </p>
                        </div>
                    </a>
                </div>
                <div class="linkBox">
                    <a href="./menu" class="imgLink"><img
                            src="https://chumuru.com/system_panel/uploads/images/20240509133410867618.png"
                            alt="メニュー 背景用の画像" width="1060" height="400" class="backImg" />
                        <div class="front">
                            <p class="frontTxt">メニュー
                            </p>
                            <p class="frontTxtDesc">Menu
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
	<Footer />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>