---
import '../styles/common/reset.css';
import '../styles/common/common.css';
import '../styles/header.css';
import '../styles/footer.css';
import '../styles/massage.css';

import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';

const pageTitle = "ヤング式腸もみ｜chumuru";
---

<!DOCTYPE html>
<html lang="ja">

<head>
    <Head />
    <title>{pageTitle}</title>
</head>

<body class="wrap">
    <Header />
    <main class="content">
        <section class="pageHeader">
            <div class="pageHeaderBg">
                <img width="2720" height="700" src="https://chumuru.com/system_panel/uploads/images/20240513181249171966.png" alt="ヤング式腸もみ" class="pageHeaderImg" />
            </div>
            <div class="pageHeaderGroup">
                <h1 class="pageHeaderTxt">ヤング式腸もみ
                </h1>
                <p class="pageHeaderDes">Young style intestine massaging
                </p>
            </div>
        </section>
        <section class="section">
            <div class="sectionInr">
                <div class="overlayHead">
                    <div class="overlayHeadGroup">
                        <p class="txt">血液の汚れや町内の老廃物である宿便が多くの健康問題を引き起こすとされています。
                            <br /> 食事や生活習慣が原因で、病気や免疫力低下、抜け毛、疲労、関節炎などの不調が起こります。
                            <br /> 宿便が溜まることで内臓を圧迫し、体のゆがみや不妊、不眠症なども引き起こされる可能性があります。
                        </p>
                    </div>
                    <p class="overlayHeadEn">MASSAGE
                    </p>
                </div>
                <div class="sectionRead">
                    <img width="877" height="303" src="https://chumuru.com/system_panel/uploads/images/20240513181249459051.png" alt="健康問題に悩む男女の画像" class="img" />
                </div>
            </div>
            <div class="grayBg">
                <div class="sectionInr">
                    <div class="overlayHead">
                        <div class="overlayHeadGroup">
                            <h2 class="overlayHeadJa">宿便による不調
                            </h2>
                            <p class="overlayHeadDes">Slump
                            </p>
                        </div>
                        <p class="overlayHeadEn">SLUMP
                        </p>
                    </div>
                    <div class="flex">
                        <div class="txtBox">
                            <p class="txt pAddText">宿便が蓄積することでホルモンの正常な分泌が妨げられ、結果として不眠症や情緒不安定といった症状が引き起こされることがあります。
                            </p>
                            <p class="txt">
                                さらに、胃腸の機能が低下すると便秘や下痢、代謝の低下が生じ、痩せにくくなるほか、下腹部がぽっこりと出たり、胃腸が弱くなるなどの問題が起こります。
                                <br /> 甘いものや添加物を多く含む食品の過剰摂取は胃腸障害を招くだけでなく、気分の浮き沈みやアレルギー反応などの症状を引き起こすことも。
                            </p>
                            <p class="txt">また、タバコやお酒を摂る習慣がある人は、宿便が解消されることでこれらの要求が減少することがあります。
                            </p>
                        </div>
                        <div class="imgBox">
                            <img width="435" height="280" src="https://chumuru.com/system_panel/uploads/images/20240513181249528443.png" alt="宿便が原因の不調に悩む女性の画像" class="img" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="triangle">
            </div>
            <div class="sectionInr illustDecoration">
                <div class="cooperation">
                    <p class="txt">宿便による様々な不調は
                        <br />chumuruのヤング式腸活に<br class="pcHidden">お任せください。
                    </p>
                    <img src="https://chumuru.com/system_panel/uploads/images/20240509133217218752.png" alt="装飾用の画像" width="150" height="143" class="handIllust" />
                </div>
            </div>
        </section>
        <section class="section leftTtlSection">
            <div class="sectionInr">
                <div class="sectionHead">
                    <h2 class="sectionTtl">ヤング式腸活メソッド
                    </h2>
                    <p class="sectionTtlDesc">Method
                    </p>
                </div>
                <p class="sectionRead">
                    ヤング式腸活メソッドの３つの実践で、腸の機能を回復し、宿便を出し、食事を変えることで
                    <br />血液を綺麗にし、自己免疫力を高め、体の不調を自分で治す力を付けることができます。
                </p>
                <div class="rowTypeMassage">
                    <div class="flex">
                        <div class="txtBox">
                            <div class="numberTtl">
                                <h3 class="numberCount">ヤング式の腸もみで腸の機能回復
                                </h3>
                                <p class="numberTtlDes">Intestinal function recovery
                                </p>
                            </div>
                            <p class="txt">
                                ヤング式腸もみは、腸の機能を効果的に回復させるためのテクニックです。
                            </p>
                            <p class="txtBold">お腹を出さずに服の上から施術を行います。
                            </p>
                            <p class="txt">この手法では、特定のマッサージ手技を用いて腸の動きを刺激し、消化機能を改善します。
                                <br>定期的なマッサージにより、便秘の解消、ガスの蓄積減少、全体的な腸の健康が促進されます。
                                <br>ヤング式腸もみは、自然な方法で体の内側から健康をサポートし、日常生活の質を高める手助けとなります。
                            </p>
                        </div>
                        <div class="imgBox">
                            <img src="https://chumuru.com/system_panel/uploads/images/20240513181249568601.png" alt="ヤング式の腸もみで腸の機能が回復するイメージ画像" width="600" height="356" class="img" />
                        </div>
                    </div>
                    <div class="flex">
                        <div class="txtBox">
                            <div class="numberTtl">
                                <h3 class="numberCount">宿便デトックスハーブで
                                    <br /> 小腸を洗い出す
                                </h3>
                                <p class="numberTtlDes">Fecal impaction detox herb
                                </p>
                            </div>
                            <p class="txt">
                                宿便デトックスハーブは、小腸を内側からきれいに洗い流す自然療法です。
                                <br /> これらのハーブは、消化系を刺激し、蓄積された宿便を効果的に除去するのを助けます。
                                <br /> ハーブを飲むだけでは、小腸の表面の汚れしか取れないため、ヤング式腸もみと組み合わせることで効果が期待できます。
                            </p>
                        </div>
                        <div class="imgBox overlapImgBox">
                            <img src="https://chumuru.com/system_panel/uploads/images/20240513181320825537.png" alt="宿便デトックスハーブで一息ついている女性の画像" width="264" height="185" class="img smallImg" />
                            <img src="https://chumuru.com/system_panel/uploads/images/20240513181249178864.png" alt="販売している宿便デトックスハーブのパッケージ画像" width="600" height="356" class="img largeImg" />
                        </div>
                    </div>
                    <div class="flex">
                        <div class="txtBox">
                            <div class="numberTtl">
                                <h3 class="numberCount">生穀物と生野菜などの
                                    <br /> 割合を増やした食事
                                </h3>
                                <p class="numberTtlDes">Raw grains and vegetables
                                </p>
                            </div>
                            <p class="txt">
                                生穀物と生野菜などの割合を増やした食事は、健康促進に欠かせない要素です。これらの食品には、必要なビタミン、ミネラル、食物繊維が豊富に含まれており、消化を助け、体の自然なデトックス機能をサポートします。
                                <br />
                                <br /> まずは、50％取り入れて効果を実感してもらいます。
                                <br /> 少しずつ割合を増やしていくことで体の不調や力強さを実感することが可能となります。
                            </p>
                        </div>
                        <div class="imgBox">
                            <img src="https://chumuru.com/system_panel/uploads/images/20240513181249405923.png" alt="生野菜などの健康にいい食事のイメージ画像" width="600" height="356" class="img" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlayHead">
                <div class="overlayHeadBack">
                    <p class="overlayHeadEn">METHOD
                    </p>
                </div>
            </div>
        </section>
    </main>
    <Footer />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>