---
import '../styles/common/reset.css';
import '../styles/common/common.css';
import '../styles/header.css';
import '../styles/footer.css';
import '../styles/menu.css';

import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';


const pageTitle = "メニュー｜chumuru";
---

<!DOCTYPE html>
<html lang="ja">

<head>
	<Head />
	<title>{pageTitle}</title>
</head>

<body class="wrap">
	<Header />
    <main class="content">
        <section class="pageHeader">
            <div class="pageHeaderBg">
                <img width="2720" height="700"
                    src="https://chumuru.com/system_panel/uploads/images/20240513181320978448.png" alt="メニュー"
                    class="pageHeaderImg" />
            </div>
            <div class="pageHeaderGroup">
                <h1 class="pageHeaderTxt">メニュー
                </h1>
                <p class="pageHeaderDes">Menu
                </p>
            </div>
        </section>
        <section class="section">
            <div class="overlayHead">
                <div class="overlayHeadGroup">
                    <h2 class="overlayHeadJa">腸もみMENU
                    </h2>
                    <p class="overlayHeadDesc">Intestine massage MENU
                    </p>
                </div>
                <p class="overlayHeadEn">MENU
                </p>
            </div>
            <div class="mediumContent rowTypeMenu">
                <div class="menuBox">
                    <h3 class="menuBoxTtl">初めての方
                    </h3>
                    <div class="menuBoxItem">
                        <p class="menuBoxItemName">
                            <strong>初回1回のみ</strong>
                        </p>
                        <p class="menuBoxItemPrice">
                            <span style="font-size:28px"><strong>¥5,000</strong></span>
                        </p>
                    </div>
                    <div class="menuBoxItem">
                        <p class="menuBoxItemName">腸もみスタートコース
                            <br />（カウンセリング・腸もみ4回・生穀菜食体験・デトックスハーブ試飲）
                        </p>
                        <p class="menuBoxItemPrice">¥35,000
                        </p>
                    </div>
                </div>
                <div class="menuBox">
                    <h3 class="menuBoxTtl">継続の方
                    </h3>
                    <div class="menuBoxItem">
                        <p class="menuBoxItemName">1回
                        </p>
                        <p class="menuBoxItemPrice">¥8,000
                        </p>
                    </div>
                    <div class="menuBoxItem">
                        <p class="menuBoxItemName">5回券
                        </p>
                        <p class="menuBoxItemPrice">¥39,000
                        </p>
                    </div>
                    <div class="menuBoxItem">
                        <p class="menuBoxItemName">10回券
                        </p>
                        <p class="menuBoxItemPrice">¥70,000
                        </p>
                    </div>
                </div>
                <div class="menuBox">
                    <h3 class="menuBoxTtl">販売
                    </h3>
                    <div class="menuBoxItem">
                        <p class="menuBoxItemName">なまこっこ
                        </p>
                        <p class="menuBoxItemPrice">1袋 ¥7,000 / 2袋 ¥13,000
                        </p>
                    </div>
                    <div class="menuBoxItem">
                        <p class="menuBoxItemName">デトックスハーブ0
                        </p>
                        <p class="menuBoxItemPrice">¥10,000
                        </p>
                    </div>
                </div>
            </div>
            <img width="358" height="229" src="https://chumuru.com/system_panel/uploads/images/20240509133217619670.png"
                alt="" class="decorationImg" />
        </section>
    </main>
	<Footer />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>