---
import '../styles/common/reset.css';
import '../styles/common/common.css';
import '../styles/header.css';
import '../styles/footer.css';
import '../styles/store.css';

import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';


const pageTitle = "店舗情報｜chumuru";
---

<!DOCTYPE html>
<html lang="ja">

<head>
	<Head />
	<title>{pageTitle}</title>
</head>

<body class="wrap">
	<Header />
    <main class="content">
        <section class="pageHeader">
            <div class="pageHeaderBg">
                <img width="2720" height="700"
                    src="https://chumuru.com/system_panel/uploads/images/20240513181320507374.png" alt="店舗情報"
                    class="pageHeaderImg" />
            </div>
            <div class="pageHeaderGroup">
                <h1 class="pageHeaderTxt">店舗情報
                </h1>
                <p class="pageHeaderDes">Store information
                </p>
            </div>
        </section>
        <section class="section">
            <div class="sectionInr">
                <div class="storeRow">
                    <div class="imgBox">
                        <img width="412" height="434"
                            src="https://chumuru.com/system_panel/uploads/images/20240513181320140499.png"
                            alt="ヤング式腸もみ chumuruロゴ画像" class="img" />
                    </div>
                    <div class="accessInfo">
                        <div class="logo">
                            <img width="314" height="150"
                                src="https://chumuru.com/system_panel/uploads/images/20240517152857872778.png"
                                alt="chumuruの店内イメージ画像 施術台" class="img" />
                        </div>
                        <div class="accessInfoItem">
                            <p class="txt accessInfoItemHead">住所
                            </p>
                            <p class="txt">〒920-0848
                                <br /> 石川県金沢市京町28-21 Villetta303
                            </p>
                        </div>
                        <div class="accessInfoItem">
                            <p class="txt accessInfoItemHead">TEL
                            </p>
                            <a href="tel:09020924351" class="link">
                                <p class="txt">090-2092-4351
                                </p>
                            </a>
                        </div>
                        <div class="accessInfoItem">
                            <p class="txt accessInfoItemHead">営業時間
                            </p>
                            <p class="txt">10：00～19：00
                            </p>
                        </div>
                        <div class="accessInfoItem">
                            <p class="txt accessInfoItemHead">定休日
                            </p>
                            <p class="txt">不定休
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="leftTtlSection">
            <div class="tile">
                <div class="tileItem">
                    <img src="https://chumuru.com/system_panel/uploads/images/20240513181320857863.png"
                        alt="chumuru 提供サービスイメージ" width="340" height="240" class="img" />
                </div>
                <div class="tileItem">
                    <img src="https://chumuru.com/system_panel/uploads/images/20240513181320825537.png"
                        alt="chumuru 提供サービスイメージ" width="340" height="240" class="img" />
                </div>
                <div class="tileItem">
                    <img src="https://chumuru.com/system_panel/uploads/images/20240513181320109899.png"
                        alt="chumuru 提供サービスイメージ" width="340" height="240" class="img" />
                </div>
            </div>
        </section>
        <section class="section">
            <div class="overlayHead">
                <div class="overlayHeadGroup">
                    <h2 class="overlayHeadJa">アクセス
                    </h2>
                    <p class="overlayHeadDesc">Access
                    </p>
                </div>
                <p class="overlayHeadEn">ACCESS
                </p>
            </div>
            <div class="sectionInr">
                <div class="storeMap">
                    <div src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3203.7935085399254!2d136.6547602758284!3d36.583193572309874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff833a7a36c369f%3A0xccce27352a4ef44f!2z77y2772J772M772M772F772U772U772B!5e0!3m2!1sja!2sjp!4v1715599163486!5m2!1sja!2sjp"
                        class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3203.7935085399254!2d136.6547602758284!3d36.583193572309874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff833a7a36c369f%3A0xccce27352a4ef44f!2z77y2772J772M772M772F772U772U772B!5e0!3m2!1sja!2sjp!4v1715599163486!5m2!1sja!2sjp"
                            width="1100" height="400" loading="lazy" id="i0o8e" class="gjs-no-pointer c1771"></iframe>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="overlayHead">
                <div class="overlayHeadGroup">
                    <h2 class="overlayHeadJa">代表挨拶
                    </h2>
                    <p class="overlayHeadDesc">Greetings
                    </p>
                </div>
                <p class="overlayHeadEn">GREETINGS
                </p>
            </div>
            <div class="sectionInr">
                <div class="flex">
                    <div class="imgBox greetingImg">
                        <img width="450" height="490"
                            src="https://chumuru.com/system_panel/uploads/images/20240517145113472553.png"
                            alt="chumuru代表者の画像" class="img" />
                    </div>
                    <div class="txtBox">
                        <p class="txt">
                            弊社ホームページをご覧いただきありがとうございます。
                            <br />
                            <br />
                            chumuruはお客様一人ひとりのニーズに応える高品質なサービスを提供することに専念しています。
                            <br />
                            ヤング式腸もみの技術と長年経験と実績による食事療法により、常にお客様に新しい価値を提供し続けることを目指しております。
                            <br />
                            皆様のご支持があってこそ、私たちは今日も前進し続けることができます。
                            <br />
                            これからも変わらぬご愛顧を賜りますようお願い申し上げます。
                            <br />
                        </p>
                        <p class="txt authorName">
                            chumuru
                            <br />代表　金沢　一恵
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="company sectionBg">
            <div class="sectionBgImg">
                <img src="https://chumuru.com/system_panel/uploads/images/20240517144433357401.png"
                    alt="運営会社セクション 背景用の画像" width="1440" height="363" class="img" />
            </div>
            <div class="mediumContent">
                <div class="reservationTtl">
                    <h2 class="reservationTtlTxt">運営会社
                    </h2>
                    <p class="reservationTtlDesc">Company
                    </p>
                </div>
                <div class="inrContent">
                    <div class="accessInfo">
                        <div class="accessInfoItem">
                            <p class="txt accessInfoItemHead">会社名
                            </p>
                            <p class="txt">chumuru
                            </p>
                        </div>
                        <div class="accessInfoItem">
                            <p class="txt accessInfoItemHead">所在地
                            </p>
                            <p class="txt">〒920-0848
                                <br class="pcHidden" />石川県 金沢市京町28-21
                                <br class="pcHidden" />Villetta303
                            </p>
                        </div>
                        <div class="accessInfoItem">
                            <p class="txt accessInfoItemHead">代表取締役
                            </p>
                            <p class="txt">宮井　浩恵
                            </p>
                        </div>
                        <div class="accessInfoItem">
                            <p class="txt accessInfoItemHead">TEL
                            </p>
                            <a href="tel:09020924351" class="link">
                                <p class="txt">090-2092-4351
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
	<Footer />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>