<div class="commonFooter">
    <div class="access sectionInr">
        <div class="accessRow">
            <div class="map">
                <div src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3203.7935085399254!2d136.6547602758284!3d36.583193572309874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff833a7a36c369f%3A0xccce27352a4ef44f!2z77y2772J772M772M772F772U772U772B!5e0!3m2!1sja!2sjp!4v1715599163486!5m2!1sja!2sjp"
                    class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3203.7935085399254!2d136.6547602758284!3d36.583193572309874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff833a7a36c369f%3A0xccce27352a4ef44f!2z77y2772J772M772M772F772U772U772B!5e0!3m2!1sja!2sjp!4v1715599163486!5m2!1sja!2sjp"
                        width="400" height="300" loading="lazy" id="i0o8e" class="gjs-no-pointer c1771"></iframe>
                </div>
            </div>
            <div class="accessInfo">
                <div class="accessInfoItem">
                    <img src="https://chumuru.com/system_panel/uploads/images/20240509133217720955.png" alt="chumuruロゴ画像" width="230" height="110" class="img" />
                    <p class="txt">ヤング式腸もみchumuru
                    </p>
                </div>
                <div class="accessInfoItem">
                    <p class="txt accessInfoItemHead">住所
                    </p>
                    <p class="txt">〒920-0848
                        <br /> 石川県金沢市京町28-21 Villetta303
                    </p>
                </div>
                <div class="accessInfoItem">
                    <p class="txt accessInfoItemHead">TEL
                    </p>
                    <a href="tel:09020924351" class="link">
                        <p class="txt">090-2092-4351
                        </p>
                    </a>
                </div>
                <div class="accessInfoItem">
                    <p class="txt accessInfoItemHead">営業時間
                    </p>
                    <p class="txt">10：00～19：00
                    </p>
                </div>
                <div class="accessInfoItem">
                    <p class="txt accessInfoItemHead">定休日
                    </p>
                    <p class="txt">不定休
                    </p>
                </div>
                <div class="accessInfoItem">
                    <p class="txt accessInfoItemHead">支払い方法
                    </p>
                    <p class="txt">現金・クレジットカード
                    </p>
                </div>
                <a href="./store" class="normalBtn">
                    <p class="normalBtnTxt">店舗情報
                    </p>
                </a>
            </div>
            <img src="https://chumuru.com/system_panel/uploads/images/20240509133217619670.png" alt="装飾用の画像" width="312" height="200" class="decorationImg" />
        </div>
    </div>
    <div class="reservation sectionBg">
        <div class="sectionBgImg">
            <img src="https://chumuru.com/system_panel/uploads/images/20240509133410605689.png" alt="背景用の画像" width="1440" height="363" class="img" />
        </div>
        <div class="sectionInr">
            <div class="reservationTtl">
                <h2 class="reservationTtlTxt">予約
                </h2>
                <p class="reservationTtlDesc">Reservation
                </p>
            </div>
            <p class="txt">ヤング式腸もみchumuruのホームページをご覧いただきありがとうございます。
                <br /> ご予約はLINEまたはWEB予約にてお願いします。
            </p>
            <p class="txt">ヤング式腸もみや食事療法などについてのお問い合わせは、
                <br /> 下記フォームからお気軽にお問い合わせください。
                <br /> ※営業のご案内はお断りしております
            </p>
            <div class="normalBtnArea">
                <a href="https://line.me/R/ti/p/@545mglcj" target="_blank" rel="noopener" class="normalBtn lineBtn"><img src="https://chumuru.com/system_panel/uploads/images/20240509133217101594.png" alt="LINEアイコン画像" width="26" height="26" class="img" />
                    <p class="normalBtnTxt">LINEで予約
                    </p>
                </a>
                <a href="./contact" class="normalBtn contactBtn"><img src="https://chumuru.com/system_panel/uploads/images/20240509153821656928.png" alt="メールアイコン画像" width="24" height="24" class="img" />
                    <p class="normalBtnTxt">お問い合わせフォーム
                    </p>
                </a>
                <a href="https://chumuru.pos-s.net/reserve/" target="_blank" rel="noopener" class="normalBtn reserveBtn">
                    <p class="normalBtnTxt">WEB予約
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footerRow flex">
            <div class="footerInfo">
                <div class="footerLogo">
                    <img src="https://chumuru.com/system_panel/uploads/images/20240509133217720955.png" alt="chumuruロゴ画像" width="189" height="90" class="img" />
                </div>
                <p class="footerAddress">石川県金沢市京町28-21 Villetta303
                </p>
            </div>
            <div class="footerLink">
                <a href="./" class="navLink">
                    <p class="navLinkTxt">ホーム
                    </p>
                </a>
                <a href="./massage" class="navLink">
                    <p class="navLinkTxt">ヤング式腸もみ
                    </p>
                </a>
                <a href="./diet" class="navLink">
                    <p class="navLinkTxt">食事療法
                    </p>
                </a>
                <a href="./customer" class="navLink">
                    <p class="navLinkTxt">初めてのお客様
                    </p>
                </a>
                <a href="./menu" class="navLink">
                    <p class="navLinkTxt">メニュー
                    </p>
                </a>
                <a href="./store" class="navLink">
                    <p class="navLinkTxt">店舗情報
                    </p>
                </a>
                <a href="./news" class="navLink">
                    <p class="navLinkTxt">新着情報
                    </p>
                </a>
                <a href="./contact" class="navLink">
                    <p class="navLinkTxt">お問い合わせ
                    </p>
                </a>
                <a href="./privacy" class="navLink">
                    <p class="navLinkTxt">プライバシーポリシー
                    </p>
                </a>
                <div class="icons">
                    <a href="https://line.me/R/ti/p/@545mglcj" target="_blank" rel="noopener" class="link"><img src="https://chumuru.com/system_panel/uploads/images/20240509133217101594.png" alt="LINEアイコン画像" width="26" height="26" class="img" /></a>
                    <a href="https://www.instagram.com/chumuru_kinchan/" target="_blank" rel="noopener" class="link"><img src="https://chumuru.com/system_panel/uploads/images/20240509133217370893.png" alt="Instagramアイコン画像" width="26" height="26" class="img" /></a>
                </div>
            </div>
        </div>
        <div class="footerCopy">
            <p class="txt">©2024 chumuru
            </p>
            <div id="pageTopBtnLink" class="pageTopBtn">
                <a href="./" class="pageTopBtnLink"><img src="https://chumuru.com/system_panel/uploads/images/20240510141348207609.png" alt="ページの上部へ戻る" width="16" height="26" class="img" /></a>
            </div>
        </div>
    </div>
</div>