<div class="header">
    <div class="headerInr">
        <a href="./" class="logo"><img src="https://chumuru.com/system_panel/uploads/images/20240509133217720955.png"
                alt="chumuru ロゴ画像" width="155" height="74" class="logoImg" /></a>
        <div class="headerNav">
            <a href="./massage" class="navLink">
                <p class="navLinkTxt">ヤング式腸もみ
                </p>
            </a>
            <a href="./diet" class="navLink">
                <p class="navLinkTxt">食事療法
                </p>
            </a>
            <a href="./customer" class="navLink">
                <p class="navLinkTxt">初めてのお客様
                </p>
            </a>
            <a href="./menu" class="navLink">
                <p class="navLinkTxt">メニュー
                </p>
            </a>
            <a href="./store" class="navLink">
                <p class="navLinkTxt">店舗情報
                </p>
            </a>
            <a href="./news" class="navLink">
                <p class="navLinkTxt">新着情報
                </p>
            </a>
            <div class="icons">
                <a href="https://line.me/ti/p/@545mglcj" target="_blank" rel="noopener" class="link"><img
                        src="https://chumuru.com/system_panel/uploads/images/20240509133217101594.png" alt="LINEアイコン画像"
                        width="26" height="26" class="img" /></a>
                <a href="https://www.instagram.com/chumuru_kinchan/" target="_blank" rel="noopener" class="link"><img
                        src="https://chumuru.com/system_panel/uploads/images/20240509133217370893.png"
                        alt="Instagramアイコン画像" width="26" height="26" class="img" /></a>
            </div>
            <a href="./contact" class="normalBtn contactBtn link">
                <p class="normalBtnTxt">お問い合わせ
                </p>
            </a>
            <a href="https://chumuru.pos-s.net/reserve/" target="_blank" rel="noopener"
                class="normalBtn reserveBtn link">
                <p class="normalBtnTxt">WEB予約
                </p>
            </a>

        </div>
    </div>
    <div class="hamburger">
        <p class="span">
        </p>
        <p class="span">
        </p>
        <p class="span">
        </p>
    </div>
    <div class="globalMenuSp">
        <div class="hUl">
            <div class="hamburgerList">
                <a href="./massage" class="navLink">
                    <p class="navLinkTxt">ヤング式腸もみ
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./diet" class="navLink">
                    <p class="navLinkTxt">食事療法
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./customer" class="navLink">
                    <p class="navLinkTxt">初めてのお客様
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./menu" class="navLink">
                    <p class="navLinkTxt">メニュー
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./store" class="navLink">
                    <p class="navLinkTxt">店舗情報
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./news" class="navLink">
                    <p class="navLinkTxt">新着情報
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./contact" class="normalBtn link">
                    <p class="normalBtnTxt">お問い合わせ
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="https://chumuru.pos-s.net/reserve/" target="_blank" rel="noopener"
                    class="normalBtn reserveBtn link">
                    <p class="normalBtnTxt">WEB予約
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>